---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-tags">
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}.html">
        #{{ tag }}
      </a>
    {% endfor %}
  </span>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text={{ page.title }} - {{ site.title }}"
  data-size="large"><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
Tweet</a>

<div class="github-links">
  <a href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch }}/{{ page.path }}">View history</a>
  |
  <a href="{% github_edit_link %}">Edit</a>
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
